.furn {
  margin-top: 61px; }
  .furn a {
    text-decoration: none; }
  .furn-inf {
    max-width: 100%;
    background-color: #f4f5f7; }
    .furn-inf__img {
      max-width: 100%;
      height: 262px; }
  .furn__img__sale {
    font-size: 12px;
    width: 44px;
    height: 22px;
    position: absolute;
    left: 108px;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .3s ease 0;
    transition: all .3s ease 0; }
  .furn__img__ditails {
    position: absolute;
    bottom: 150px;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .3s ease 0;
    transition: all .3s ease 0; }
  .furn__img__view {
    height: 37px;
    width: 87px;
    font-size: 13px; }
  .furn__img__add {
    height: 37px;
    width: 132px;
    font-size: 14px;
    padding-top: 8px; }
  .furn__diskr {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border: 0.5px solid lightgrey; }
    .furn__diskr__hr {
      height: 1px; }

.furn_img-hover:hover .furn__img__ditails, .furn_img-hover:hover .furn__img__sale {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.furn_img-hover:hover .furn__diskr__price {
  background-color: #d58e32 !important; }

.furn__diskr {
  border: 0.5px solid lightgrey; }
  .furn__diskr__hr {
    height: 1px;
    list-style: none; }
    .furn__diskr__hr-darck {
      width: 40%;
      border: 1.5px solid gray;
      background-color: gray; }
    .furn__diskr__hr-warning {
      width: 20%;
      border: 2px solid #d58e32;
      background-color: #d58e32; }
  .furn__diskr__favor {
    height: 37px;
    border: 1px solid black; }
  .furn__diskr__old-price {
    text-decoration: line-through; }
  .furn__diskr__price {
    height: 37px; }

.furn__filters {
  opacity: 0; }
  .furn__filters_active {
    color: #d58e32 !important; }
  .furn__filters__list {
    list-style-type: none; }
    .furn__filters__list__color {
      list-style-type: none; }
      .furn__filters__list__color input[type=checkbox] {
        display: none; }
      .furn__filters__list__color label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 25px;
        margin-right: 15px;
        font-size: 16px; }
      .furn__filters__list__color label:before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 10px;
        position: absolute;
        left: 0;
        bottom: 3px; }
      .furn__filters__list__color input[type=checkbox]:checked + label:before {
        font-family: "FontAwesome";
        content: "\f00c";
        color: #fff;
        text-align: center;
        line-height: 15px; }
      .furn__filters__list__color__red:before {
        background-color: #eb1212; }
      .furn__filters__list__color__black:before {
        background-color: black; }
      .furn__filters__list__color__yellow:before {
        background-color: yellow; }
      .furn__filters__list__color__blue:before {
        background-color: blue; }
      .furn__filters__list__color__pinck:before {
        background-color: #f72fe4; }
      .furn__filters__list__color__green:before {
        background-color: green; }
      .furn__filters__list__color input[type="checkbox"]:checked + label {
        color: #d58e32; }
    .furn__filters__list__size {
      list-style-type: none; }
      .furn__filters__list__size input[type=checkbox] {
        display: none; }
      .furn__filters__list__size label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 25px;
        margin-right: 15px;
        font-size: 16px; }
      .furn__filters__list__size label:before {
        content: "";
        display: inline-block;
        border: 1px solid black;
        border-radius: 0.5px;
        width: 16px;
        height: 16px;
        margin-right: 10px;
        position: absolute;
        left: 0;
        bottom: 3px; }
      .furn__filters__list__size input[type=checkbox]:checked + label:before {
        font-family: "FontAwesome";
        content: "\f00c";
        color: white;
        text-align: center;
        line-height: 15px;
        background-color: #d58e32;
        border: 1px solid  #d58e32; }
      .furn__filters__list__size input[type="checkbox"]:checked + label {
        color: #d58e32; }
      .furn__filters__list__size input[type="checkbox"]:checked + .furn__filters__quant {
        background-color: #d58e32; }
      .furn__filters__list__size__latter:hover {
        color: #d58e32; }
      .furn__filters__list__size__latter:hover .furn__filters__quant {
        background-color: #d58e32 !important; }
  .furn__filters__quant {
    background-color: #2a2a2a;
    width: 23px;
    height: 23px;
    border-radius: 50%; }
    .furn__filters__quant_active {
      background-color: #d58e32 !important; }
  .furn__filters__categor:hover .furn__filters__text {
    color: #d58e32; }
  .furn__filters__categor:hover .furn__filters__quant {
    background-color: #d58e32 !important; }
  .furn__filters__tags {
    height: 34px;
    border: 1px solid #959595; }
    .furn__filters__tags_active {
      color: #d58e32 !important;
      border: 1px solid #d58e32; }
  .furn__filters__tags:hover {
    color: #d58e32;
    border: 1px solid #d58e32; }

.loadMore-btn {
  margin: 60px auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #eeeeee;
  cursor: pointer; }

.polzunok-container-5 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

.polzunok-container-5 {
  padding: 2px 2px; }

.polzunok-container-5:after {
  content: "";
  clear: both;
  display: table; }

.polzunok-input-5-left,
.polzunok-input-5-right {
  background-color: transparent;
  border: 0px solid;
  height: 20px;
  width: 40px;
  color: #555555;
  font-weight: bold; }

.polzunok-container-5 .ui-slider {
  position: relative;
  background: white;
  border: 0.5px solid lightgray;
  height: 6px;
  border-radius: 6px; }

.polzunok-container-5 .ui-slider .ui-slider-handle {
  position: absolute;
  margin-left: -16px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #d58e32;
  top: -8px;
  background: #FFF;
  z-index: 1;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition: border 0.4s, -webkit-transform 0.2s;
  transition: border 0.4s, -webkit-transform 0.2s;
  transition: transform 0.2s, border 0.4s;
  transition: transform 0.2s, border 0.4s, -webkit-transform 0.2s; }

.polzunok-container-5 .ui-slider .ui-slider-handle:hover,
.polzunok-container-5 .ui-slider .ui-slider-handle:focus {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  border: 3px solid #d58e32; }

.polzunok-container-5 .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  height: 6px;
  border: 0;
  background: black;
  border-radius: 10px;
  -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3), 1px 1px 5px white;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3), 1px 1px 5px white; }

.stocks__links {
  text-decoration: none !important; }

.stocks__bg {
  height: 420px;
  background-image: url(./../images/stocks/1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 98%; }

.stocks__sofa {
  padding-top: 120px;
  height: 355px;
  width: 90%;
  background-color: rgba(19, 20, 20, 0.3); }

.stocks__chair {
  height: 195px;
  background-color: #e8edf7;
  overflow: hidden; }
  .stocks__chair img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    width: 100%; }

.stocks__bed {
  margin-top: 21px;
  height: 195px;
  background-color: #fbf3f7;
  overflow: hidden; }
  .stocks__bed__pfoto {
    background-image: url(./../images/stocks/4.png);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position-x: -25px;
    background-position-y: -20px; }

.blog {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content; }
  .blog-item:hover .blog-item__headline {
    color: #d58e32 !important; }
  .blog-item:hover .blog-btn {
    background-color: #d58e32 !important; }
  .blog-line {
    list-style-type: none;
    height: 1px; }
    .blog-line_warning {
      width: 5%;
      border: 2px solid #d58e32; }
    .blog-line_grey {
      width: 85%;
      border: 2px solid #e2e2e2; }
  .blog-img {
    width: 100%;
    height: 290px;
    position: relative; }
  .blog-content {
    width: 85%;
    background-color: #ffffff;
    position: absolute;
    left: 37px;
    top: 230px; }
  .blog-btn {
    background-color: #2a2a2a; }

.newsletter {
  margin: auto 0;
  height: 119px;
  width: 100vw; }
  .newsletter-entmail {
    background-color: white;
    height: 46px;
    width: 100%; }
    .newsletter-entmail__imp {
      border: 0px solid;
      border-left: 0.5px solid lightgray; }
    .newsletter-entmail__submit {
      background-color: white;
      width: 46px;
      height: 46px; }

.footer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content; }
  .footer-links {
    height: 25px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content; }
  .footer-links:hover {
    border-bottom: 2px solid #868e96; }

a {
  text-decoration: none !important; }

.footer-rights {
  font-family: 'Open Sans', sans-serif !important;
  width: 100vw;
  height: 95px;
  background-color: #2a2a2a; }
  .footer-rights__sotial {
    color: #a1a1a1; }
  .footer-rights__sotial :hover {
    color: #d58e32; }

.modalWindow {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); }
  .modalWindow-content {
    padding: 63px;
    margin: 100px auto;
    width: 1140px;
    height: 607px;
    background-color: white;
    position: relative; }
    .modalWindow-content__clbutton {
      height: 37px;
      width: 41px;
      background-color: #2a2a2a;
      position: absolute;
      top: 0px;
      right: 0px; }
      .modalWindow-content__clbutton__cross {
        color: white;
        font-size: 28px;
        font-weight: bold; }
      .modalWindow-content__clbutton__cross:hover,
      .modalWindow-content__clbutton :focus {
        color: #000;
        text-decoration: none;
        cursor: pointer; }
  .modalWindow-imgpart {
    height: 406px;
    width: 436px; }
  .modalWindow-info__oldprice {
    text-decoration: line-through; }
  .modalWindow-info__newprice {
    height: 36px;
    width: 104px; }
  .modalWindow-info__add {
    height: 37px;
    width: 132px;
    font-size: 14px;
    padding-top: 8px;
    background-color: #d58e32; }
  .modalWindow-info__favor {
    height: 37px;
    width: 37px;
    border: 1px solid black; }
  .modalWindow-info__maintext {
    width: 582px; }
  .modalWindow img {
    height: 100%; }
  .modalWindow-social__facebook {
    width: 85px;
    height: 39px;
    border: 1px solid black;
    background-color: #3b5998;
    cursor: pointer; }
    .modalWindow-social__facebook img {
      height: 16px;
      width: 9px; }
    .modalWindow-social__facebook__text {
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content; }
  .modalWindow-social__item {
    width: 85px;
    height: 39px;
    border: 1px solid black;
    cursor: pointer; }
    .modalWindow-social__item img {
      height: 13px;
      width: 13px; }
    .modalWindow-social__item__text {
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content; }

.products-filters780 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); }
  .products-filters780__content {
    padding: 25px;
    margin: 100px auto;
    width: 556px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: white;
    position: relative; }
    .products-filters780__content__clbutton {
      height: 37px;
      width: 41px;
      background-color: #2a2a2a;
      position: absolute;
      top: 0px;
      right: 0px; }
      .products-filters780__content__clbutton__cross {
        color: white;
        font-size: 28px;
        font-weight: bold; }
      .products-filters780__content__clbutton__cross:hover,
      .products-filters780__content__clbutton :focus {
        color: #000;
        text-decoration: none;
        cursor: pointer; }

.cart-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); }
  .cart-modal__wrapper {
    width: 1140px;
    margin: 150px auto;
    position: relative; }
    .cart-modal__wrapper__clbutton {
      height: 37px;
      width: 41px;
      background-color: #2a2a2a;
      position: absolute;
      top: 0px;
      right: 0px; }
      .cart-modal__wrapper__clbutton__cross {
        color: white;
        font-size: 28px;
        font-weight: bold; }
      .cart-modal__wrapper__clbutton__cross:hover,
      .cart-modal__wrapper__clbutton :focus {
        color: #000;
        text-decoration: none;
        cursor: pointer; }
  .cart-modal__item-wrapper {
    width: 1029px;
    height: 218px;
    margin-left: 55.5px; }
  .cart-modal__item-image {
    width: 100%;
    height: 100%; }
  .cart-modal__item-image-container {
    width: 195px;
    height: 195px; }
  .cart-modal__item-final-price {
    height: 100px;
    width: 100px;
    margin-top: 23px; }
  .cart-modal__item-quantity {
    height: 100px;
    margin-top: 30px; }
  .cart-modal__button-wrapper {
    width: 1029px;
    margin-left: 55.5px; }

.item-information__item-name {
  font-size: 18px;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 600; }

.item-information__previous-price-inner {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 17px; }

.item-information__previous-price-outer {
  width: 61px;
  height: 29px; }

.item-information__current-price-outer {
  width: 83px;
  height: 29px; }

.item-information__current-price-inner {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px; }

.item-quantity__number-outer {
  width: 64px;
  height: 32px; }

.item-quantity__signature-outer {
  width: 64px;
  height: 32px; }

.item-quantity__signature-inner {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px; }

.item-quantity__number-inner {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px; }

.item-quantity__plus-outer {
  width: 32px;
  height: 32px; }

.item-quantity__minus-outer {
  width: 32px;
  height: 32px; }

.item-quantity__minus-icon {
  font-size: 10px; }

.item-quantity__plus-icon {
  font-size: 10px; }

.item-final__price-description {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px; }

.item-final__price-amount {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px; }

.button-wrapper__continue-button-wrapper {
  width: 159px;
  height: 40px;
  background-color: #939393; }

.button-wrapper__buynow-button-wrapper {
  width: 159px;
  height: 40px;
  background-color: #d58e32; }

.button-wrapper__chevron-right {
  font-size: 15px; }

.button-wrapper__button-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 15px;
  margin-top: 2px; }

.button-wrapper__total-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 28px; }

@media (max-width: 768px) {
  .cart-modal__wrapper {
    width: 750px;
    height: 432px; }
  .cart-modal__item-wrapper {
    width: 671px;
    margin-left: 55.5px; } }

@media (min-width: 320px) and (max-width: 768px) {
  .furn__filters {
    opacity: 0;
    height: 0; }
  .furn-title__filterbtn {
    opacity: 1;
    width: 107px;
    height: 34px; }
  .blog-carusel_lg {
    opacity: 0;
    height: 0; }
  .blog-carusel_sm {
    opacity: 0;
    height: 0; }
  .blog-carusel_xs {
    opacity: 1;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content; }
  .blog-line {
    list-style-type: none;
    height: 1px; }
    .blog-line_warning {
      width: 5%;
      border: 2px solid #d58e32; }
    .blog-line_grey {
      width: 75%;
      border: 2px solid #e2e2e2; }
  .carousel-inner {
    height: 530px; }
  .blog .carousel-indicators {
    right: -410px !important;
    top: -55px !important;
    z-index: 1 !important; }
  /* The colour of the indicators */
  .blog .carousel-indicators li {
    background: #a3a3a3;
    width: 30px;
    height: 30px; }
  .blog .carousel-indicators .active {
    background: #d58e32; }
  .products-filters780__content {
    padding: 50px;
    width: 420px; }
  .newsletter-text {
    display: none; } }

@media (min-width: 768px) and (max-width: 980px) {
  .furn__filters {
    opacity: 0;
    height: 0; }
  .furn-title__filterbtn {
    opacity: 1;
    width: 107px;
    height: 34px; }
  .blog-carusel_lg {
    opacity: 0;
    height: 0; }
  .blog-carusel_sm {
    opacity: 1;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content; }
  .blog-carusel_xs {
    opacity: 0;
    height: 0; }
  .blog-line {
    list-style-type: none;
    height: 1px; }
    .blog-line_warning {
      width: 5%;
      border: 2px solid #d58e32; }
    .blog-line_grey {
      width: 75%;
      border: 2px solid #e2e2e2; }
  .carousel-inner {
    height: 530px; }
  .blog .carousel-indicators {
    right: -550px !important;
    top: -48px !important;
    z-index: 1 !important; }
  /* The colour of the indicators */
  .blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 16px;
    height: 16px; }
  .blog .carousel-indicators .active {
    background: #d58e32; } }

@media (min-width: 980px) {
  .furn__filters {
    opacity: 1; }
  .furn-title__filterbtn {
    opacity: 0; }
  .blog-carusel_lg {
    opacity: 1;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content; }
  .blog-carusel_sm {
    opacity: 0;
    height: 0; }
  .blog-carusel_xs {
    opacity: 0;
    height: 0; }
  .carousel-inner {
    height: 530px; }
  .blog .carousel-indicators {
    right: -900px !important;
    top: -48px !important;
    z-index: 1 !important; }
  /* The colour of the indicators */
  .blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 16px;
    height: 16px; }
  .blog .carousel-indicators .active {
    background: #d58e32; } }

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }
