.container{
    width: 100vw;
    /* display: flex; */
    height: 100vh;
}
.section{
    border: 1px black solid;
    /* width: 25%; */
    height: 45%;
    margin-left: 10px;
    padding: 5px;
   
}
.section h3{
    text-align: center;
}
.cardSection {
    padding: 0;
    /* height: 100%; */
    min-height: 50px;
}

.case {
position: relative;
}
.removeNote{
    position: absolute;
    right: 1px;
    top: -4px;
    cursor: pointer;
}

.cardSection li{
    width: 90%;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: lightgoldenrodyellow;
     list-style-type: none;
     margin: 0 auto;
     padding-bottom: 5px;
}
dialog{
    border: none;
    position: absolute;
    top: 25%;
}
form{
    margin: 0 auto;
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 250px;
}
.close {
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.hide{
    display: none;
}